body {
    height: 100vh;
    margin: 0;
    background-image: url(./assets/_background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hands, .results, .dealer-side, .player-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer {
    flex-direction: column;
}

.card {
    width: 150px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.card .rank {
    font-size: 24px;
    margin-bottom: 5px;
}

.card .suit {
    font-size: 24px;
}

.results {
    margin: 50px;
}