body {
    height: 100vh;
    margin: 0;
    background-image: url("./assets/_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hands, .results, .dealer-side, .player-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer {
    flex-direction: column;
}

.card {
    width: 150px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

img {
    border-radius: 30%;
}
.card .rank {
    font-size: 24px;
    margin-bottom: 5px;
}

.card .suit {
    font-size: 24px;
}

.results {
    margin: 5px;
}
.results p {
    font-size: 2rem;
    margin: 1rem;
}

.button {
    width: 5rem;
    background-color: red;
    color: black;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    cursor: pointer;
}

.hit {
    margin: 2rem;
}

h2 {
    font-size: 2rem;
}

/* .player {
    width: 100%;
    justify-content: left;
}

.dealer {
    width: 100%;
    justify-content: right;
} */

.player-sum .dealer-sum {
    /* font-size: ; */
}